@font-face {
    font-family: "DINpro";
    src: url("./fonts/din-pro.ttf");
}

@font-face {
    font-family: "DINpro Black";
    src: url("./fonts/din-pro-black.ttf");
}

@font-face {
    font-family: "DINpro Bold";
    src: url("./fonts/din-pro-bold.ttf");
}

body {
    margin: 0;
    background: url("./images/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, h2, h3 {
    margin: 0;
}

/*header*/

#header {
    padding: 30px 0;
}

.header-container {
    max-width: 1110px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header-image:hover img {
    color: #feb825;
}

.header-image {
    text-align: center;
}

.header-image:hover {
    cursor: pointer;
}

.header-image span {
    display: block;
    font-size: 14px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 5px;
}

.header-menu {
    display: flex;
    margin-left: 254px;
    margin-right: 128px;
}

.header-menu-item {
    margin: 0 15px;
}

.header-menu-item a {
    text-decoration: none;
    font-size: 14px;
    font-family: "DINPro", sans-serif;
    color: rgb(255, 255, 255);
}

.header-button a {
    display: block;
    width: 165px;
    text-align: center;
    text-decoration: none;
    background: transparent;
    padding-top: 14px;
    padding-bottom: 16px;
    font-size: 14px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgb(254, 184, 37);
    border-style: solid;
    border-radius: 25px;
}

.header-button a:hover {
    cursor: pointer;
    border-width: 1px;
    border-color: rgb(117, 118, 69);
    border-style: solid;
    box-shadow: 0px 0px 21px 0px rgba(0, 14, 33, 0.33);
}

.burger {
    width: 36px;
    height: 18px;
    display: none;
}

.burger img {
    width: 100%;
    height: 100%;
}

.menu-open {
    z-index: 9999;
    display: block;
    box-sizing: border-box;
    width: 214px;
    padding: 36px 24px;
    background-image: -moz-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -webkit-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -ms-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-open-logo {
    font-size: 24px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(254, 184, 37);
    margin-bottom: 23px;
}

.header-menu-open {
    width: 92px;
    margin-bottom: 25px;
}

.header-menu-item-open {
    margin: 9px 0;
}

.header-menu-item-open a {
    font-size: 14px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header-button-open a {
    display: block;
    width: 165px;
    text-align: center;
    text-decoration: none;
    background: transparent;
    padding-top: 14px;
    padding-bottom: 16px;
    font-size: 14px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgb(254, 184, 37);
    border-style: solid;
    border-radius: 25px;
}

.header-button-open a:hover {
    cursor: pointer;
    border-width: 1px;
    border-color: rgb(117, 118, 69);
    border-style: solid;
    box-shadow: 0px 0px 21px 0px rgba(0, 14, 33, 0.33);
}

.menu-open-position {
    position: relative;
}

#menu-open-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#menu-open-cancel {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}





/*main*/

#main {
    padding: 30px 0;
}

.main-image-octopus {
    position: absolute;
    top: -64px;
    right: -108px;
    width: 749px;
    height: 815px;
}

.main-image-octopus img {
    width: 100%;
    height: 100%;
}

.main-container {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
}

.main-place {
    font-size: 24px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(254, 184, 37);
}

.main-logo {
    font-size: 152px;
    font-family: "DINpro Black", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.main-text {
    width: 400px;
    font-size: 18px;
    font-family: "DINPro", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.main-button button {
    border-radius: 30px;
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(16, 40, 68);
    background-color: rgb(254, 184, 37);
    width: 220px;
    border: 0;
    padding: 18px 0;
    margin-top: 62px;
}

.main-button button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 32px 0px rgba(254, 184, 37, 0.2);
}

.main-statistic {
    margin-top: 80px;
    display: flex;
    width: 512px;
    justify-content: space-between;
}

.main-statistic-animals {
    width: 170px;
}

.main-statistic-animals-number {
    font-size: 18px;
    font-family: "DINPro", sans-serif;
    color: rgb(255, 255, 255);
}

.main-statistic-animals-number span {
    font-family: "DINPro Black", sans-serif;
    font-size: 36px;
    display: inline-block;
    margin-left: 14px;
}

.main-statistic-animals-text {
    font-size: 14px;
    font-family: "DINPro", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.357;
}

.main-statistic-square {
    width: 110px;
}

.main-statistic-square-number {
    font-size: 36px;
    font-family: "DINPro Black", sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
}

.main-statistic-square-number span {
    font-size: 20px;
    display: block;
    position: absolute;
    top: 4px;
    right: 5px;
}

.main-statistic-square-text {
    font-size: 14px;
    font-family: "DINPro", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.357;
}

.main-statistic-quantity {
    width: 78px;
}

.main-statistic-quantity-number {
    font-size: 36px;
    font-family: "DINPro Black", sans-serif;
    color: rgb(255, 255, 255);
}

.main-statistic-quantity-text {
    font-size: 14px;
    font-family: "DINPro", sans-serif;
    color: rgb(255, 255, 255);
}

.main-text-open {
    display: none;
    width: 400px;
    font-size: 18px;
    font-family: "DINPro", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.big-circle, .small-circle, .player {
    position: absolute;
    display: none;
}

/*about*/

#about {
    padding-top: 86px;
}

.about-container {
    max-width: 1110px;
    margin: 0 auto;
}

.about-logo {
    text-align: center;
    font-size: 42px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
}

.about-information {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.about-information-item-left {
    width: 460px;
}

.about-information-item-left-text {
    margin-bottom: 36px;
    width: 400px;
    font-size: 24px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.25;
}

.about-information-item-right {
    margin-top: 47px;
    width: 570px;
}

.about-information-item-left-image {
    width: 455px;
    height: 380px;
}

.about-information-item-left-image img {
    width: 100%;
    height: 100%;
}

.about-information-item-right-image {
    margin-bottom: 40px;
}

.about-information-item-right-image img {
    width: 100%;
    height: 100%;
}

.about-information-item-right-text {
    width: 524px;
    font-size: 18px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.278;
}

.about-information-item-right-text {
    margin-bottom: 25px;
}

.about-information-item-right-text:last-child {
    margin-bottom: 26px;
}

/*inhabitants*/

#inhabitants {
    padding-top: 118px;
}

.inhabitants-container {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
}

.inhabitants-image {
    top: -228px;
    right: -84px;
    position: absolute;
    z-index: 9999;
}

.inhabitants-image-small {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 77px;
    left: 214px;
}

.inhabitants-logo {
    margin-bottom: 60px;
    text-align: center;
    font-size: 42px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
}

.inhabitants-items {
    /*display: flex;
    justify-content: space-between;*/
    display: grid;
    grid-template-columns: 320px 360px 390px;
    grid-template-rows: 822px;
}

.inhabitants-items-left {
    margin-right: 20px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.inhabitants-items-left-text {
    margin-bottom: 40px;
    font-size: 24px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.25;
}

.inhabitants-items-left-text-open {
    display: none;
}

.inhabitants-items-left-image {
    width: 300px;
    height: 545px;
    position: relative;
}

.inhabitants-items-left-image:hover {
    cursor: pointer;
    box-shadow: 0px 0px 21px 0px rgba(0, 14, 33, 0.45);
}

.inhabitants-items-left-image img {
    width: 100%;
    height: 100%;
}

.inhabitants-items-left-image-name {
    bottom: 40px;
    left: 108px;
    position: absolute;
    font-size: 24px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 254);
}

.inhabitants-items-middle-image-first {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 340px;
    height: 400px;
    position: relative;
}

.inhabitants-items-middle-image-second {
    margin-top: 420px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 340px;
    height: 400px;
    position: relative;
}

.inhabitants-items-middle-image-first img {
    width: 100%;
    height: 100%;
}

.inhabitants-items-middle-image-second img {
    width: 100%;
    height: 100%;
}

/*.inhabitants-items-middle-image:nth-child(1) {
    margin-bottom: 40px;
    grid-row-start: 2;
    grid-row-end: 3;
}*/

.inhabitants-items-middle-image-first:hover {
    cursor: pointer;
    box-shadow: 0px 0px 21px 0px rgba(0, 14, 33, 0.45);
}

.inhabitants-items-middle-image-second:hover {
    cursor: pointer;
    box-shadow: 0px 0px 21px 0px rgba(0, 14, 33, 0.45);
}

.inhabitants-items-middle-image img {
    width: 100%;
    height: 100%;
}

.inhabitants-items-middle-image-name {
    bottom: 40px;
    left: 108px;
    position: absolute;
    font-size: 24px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 254);
}

.inhabitants-items-right-image-first {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 390px;
    height: 400px;
    position: relative;
}

.inhabitants-items-right-image-first img {
    width: 100%;
    height: 100%;
}

.inhabitants-items-right-image-first:hover {
    cursor: pointer;
    box-shadow: 0px 0px 21px 0px rgba(0, 14, 33, 0.45);
}

.inhabitants-items-right-image-second {
    margin-top: 420px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
}

.inhabitants-items-right-image-second:hover {
    cursor: pointer;
    box-shadow: 0px 0px 21px 0px rgba(0, 14, 33, 0.45);
}

.inhabitants-items-right-image-name {
    bottom: 40px;
    left: 132px;
    position: absolute;
    font-size: 24px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 254);
}

.inhabitants-items-right-image-name-fish {
    bottom: 188px;
    left: 28px;
    position: absolute;
    font-size: 24px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 254);
}

.second-close-img {
    display: none;
}

/*offer*/

#offer {
    padding-top: 116px;
}

.offer-container {
    margin: 0 auto;
    max-width: 1110px;
}

.offer-logo {
    margin-bottom: 60px;
    text-align: center;
    font-size: 42px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
}

.offer-content-logo {
    display: none;
    margin-bottom: 32px;
    font-size: 24px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(254, 184, 37);
}

.offer-content-items {
    position: relative;
    display: flex;
}

.offer-content-items:nth-child(2) {
    justify-content: space-between;
    margin-bottom: 200px;
}

.offer-content-items:nth-child(1) {
    margin-bottom: 200px;
}
/*.Прямоугольник_4 {
    border-radius: 6px;
    background-color: rgb(215, 215, 215);
    box-shadow: 0px 0px 21px 0px rgba(0, 14, 33, 0.45);
    position: absolute;
    left: 405px;
    top: 2731px;
    width: 475px;
    height: 350px;
    z-index: 126;
}*/

/*.Прямоугольник_4 {
    border-radius: 6px;
    background-color: rgb(215, 215, 215);
    box-shadow: 0px 0px 21px 0px rgba(0, 14, 33, 0.45);
    position: absolute;
    left: 405px;
    top: 2731px;
    width: 475px;
    height: 350px;
    z-index: 126;
}*/


.offer-content-items-information {
    width: 475px;
}

.offer-content-items-image-left {
    background-image: url("./images/img-content-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*height: 350px;
    width: 475px;*/
    width: 497px;
    height: 406px;
    margin-right: 40px;
}

/*.offer-content-small-img {
    display: none;
}*/

/*.offer-content-items-image-left img {
    width: 100%;
    height: 100%;
}*/

.offer-content-items-image-middle {
    background-image: url("./images/img-content-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 497px;
    height: 406px;
}

.offer-content-items-image-right {
    margin-right: 40px;
    background-image: url("./images/img-content-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 497px;
    height: 406px;
}

.offer-content-items-logo {
    margin-bottom: 32px;
    font-size: 24px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(254, 184, 37);
}

.offer-content-items-text {
    margin-bottom: 22px;
    font-size: 18px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.278;
}

.offer-content-items-button button {
    margin-top: 6px;
    background: transparent;
    width: 165px;
    padding-top: 14px;
    padding-bottom: 16px;
    font-size: 14px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgb(254, 184, 37);
    border-style: solid;
    border-radius: 25px;
}

.offer-content-items-button button:hover {
    cursor: pointer;
    border-width: 1px;
    border-color: rgb(117, 118, 69);
    border-style: solid;
    box-shadow: 0px 0px 21px 0px rgba(0, 14, 33, 0.33);
}

.small-image-left-first {
    position: absolute;
    background-image: url("./images/small-img-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 224px;
    height: 200px;
    bottom: -110px;
    left: 398px;
}

.small-image-left-second {
    position: absolute;
    background-image: url("./images/small-img-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 224px;
    height: 200px;
    bottom: -110px;
    left: 644px;
}

.small-image-middle-first {
    position: absolute;
    background-image: url("./images/small-img-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 224px;
    height: 200px;
    bottom: -38px;
    left: 236px;
}

.small-image-middle-second {
    position: absolute;
    background-image: url("./images/small-img-4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 224px;
    height: 200px;
    bottom: -38px;
    left: 484px;
}

.small-image-right-first {
    position: absolute;
    background-image: url("./images/small-img-5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 224px;
    height: 200px;
    bottom: -64px;
    left: 412px;
}

.small-image-right-second {
    position: absolute;
    background-image: url("./images/small-img-6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 224px;
    height: 200px;
    bottom: -64px;
    left: 660px;
}

.under {
    display: none;
}

/*price*/

#price {
    padding-top: 120px;
}

.price-container {
    position: relative;
    margin: 0 auto;
    width: 1110px;
}

.price-logo {
    margin-bottom: 58px;
    font-size: 42px;
    font-family: "DINpro Bold",sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.price-image {
    position: absolute;
    bottom: -64px;
    left: 680px;
}

.price-image-open {
    display: none;
}

.price-content {
    display: flex;
}

.price-content-items {
    /*background-image: url("./images/bg-price.png");*/
    background-repeat: no-repeat;
    border-radius: 18px;
    padding: 40px 24px;
    width: 350px;
    margin-right: 40px;
    box-sizing: border-box;
    background: -webkit-linear-gradient(bottom right, #06324A, #031D36); 
    background: -moz-linear-gradient(bottom right, #06324A, #031D36); 
    background: linear-gradient(to top left, #06324A, #031D36);

    /*background-image: -moz-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -webkit-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -ms-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);*/
}

.price-content-items-logo {
    font-size: 24px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(254, 184, 37);
    text-align: center;
}

.price-content-items-information {
    margin: 32px 0 28px 0;
}

.price-content-items-information-subscription {
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.price-content-items-information-subscription:nth-child(3) {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 30px;
}

.name {
    margin-bottom: 3px;
    font-size: 18px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
}

.year {
    font-size: 18px;
    font-family: "DINpro", sans-serif;
    color: rgb(127, 142, 154);
}

.subscription-price {
    font-size: 18px;
    font-family: "DINpro Bold",sans-serif;
    color: rgb(255, 255, 255);
}

.price-content-items-text {
    margin: 0 0 30px 0;
    font-size: 14px;
    font-family: "DINpro", sans-serif;
    color: rgb(127, 142, 154);
    line-height: 1.357;
    text-align: center;
}

.price-content-items-button { 
    text-align: center;
    /*margin: 0 92px 0;*/
}

.price-content-items-button button {
    background: transparent;
    width: 165px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgb(254, 184, 37);
    border-style: solid;
    border-radius: 25px;
}

.price-content-items-button button:hover {
    cursor: pointer;
    border-width: 1px;
    border-color: rgb(117, 118, 69);
    border-style: solid;
    box-shadow: 0px 0px 21px 0px rgba(0, 14, 33, 0.33);
}

.time {
    margin-top: 40px;
}

.time-logo {
    font-size: 24px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(254, 184, 37);
    margin-bottom: 38px;
}

.time-information {
    margin-bottom: 40px;
}

.time-information-day {
    margin-bottom: 24px;
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
}

.time-information-work {
    margin-bottom: 14px;
}

.time-information-cash, .time-information-work {
    font-size: 18px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
}

/*.price-image-open {
    display: none;
}*/

/*gallery*/

#gallery {
    padding-top: 110px;
}

.gallery-container {
    margin: 0 auto;
    max-width: 1110px;
}

/*.gallery-collection {
    overflow: hidden;
    height: 800px;
}*/

.wrap-slider {
    overflow: hidden;
    height: 872px;
}

.gallery-collection-first {
    display: flex;
}

.gallery-logo {
    margin-bottom: 60px;
    font-size: 36px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.gallery-text {
    display: none;
    font-size: 24px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.image {
    margin-right: 46px;
    width: 510px;
    height: 340px;
    /*background-image: url("./images/gallery-img-1.png");
    background-repeat: no-repeat;
    background-size: cover;*/
}

/*.image img {
    width: 510px;
    height: 340px;
}*/

.text {
    margin-bottom: 38px;
    width: 416px;
    font-size: 24px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
}

.gallery-collection-item-image {
    width: 554px;
    height: 400px;
    /*background-image: url("./images/gallery-img-2.png");
    background-repeat: no-repeat;
    background-size: cover;*/
}

/*.gallery-collection-item-image img {
    width: 100%;
    height: 100%;
}*/

.gallery-collection-second {
    display: flex;
}

.gallery-collection-second-image-content-1 {
    margin-right: 40px;
    margin-top: 38px;
    width: 594px;
    height: 400px;
    /*background-image: url("./images/gallery-img-3.png");
    background-repeat: no-repeat;
    background-size: cover;*/
}

/*.gallery-collection-second-image-content-1 img {
    width: 100%;
    height: 100%;
}*/

.gallery-collection-second-image-content-2 {
    display: flex;
}

.image-1 {
    margin-right: 36px;
    width: 220px;
    height: 340px;
    /*background-image: url("./images/gallery-img-4.png");
    background-repeat: no-repeat;
    background-size: cover;*/
}

/*.image-1 img {
    width: 100%;
    height: 100%;
}*/

.image-2 {
    width: 220px;
    height: 340px;
    /*background-image: url("./images/gallery-img-5.png");
    background-repeat: no-repeat;
    background-size: cover;*/
}

/*.image-2 img {
    width: 100%;
    height: 100%;
}*/

.gallery-collection-slider {
    margin: 36px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    margin: 0 20px;
    width: 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide {
    background: white;
    border-width: 1px;
    border-color: rgb(215, 215, 215);
    border-style: solid;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

.prev:hover {
    cursor: pointer;
}

.next:hover {
    cursor: pointer;
}

.active {
    background-color: rgb(254, 184, 37);
    /*border-width: 1px;
    border-color: rgb(254, 184, 37);
    border-style: solid;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;*/
    width: 10px;
    height: 10px;
    position: relative;
    border: 0;
}

.active::before {
    content: url("./images/effect-ellipse.png");
    /*background-image: url("./images/effect-ellipse.png");*/
    position: absolute;
    top: -5px;
    right: -6px;
}

/*.ellipse {
    width: 7px;
    height: 7px;
    background-color: rgb(254, 184, 37);
}*/

.img {
    width: 100%;
    height: 100%;
}

.show {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 40%;
    left: 40%;
    z-index: 999999;
}

.small-img {
    display: none;
}



/*reviews*/

#reviews {
    margin-top: 118px;
}

.reviews-container {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}

.main-image-reviews {
    position: absolute;
    top: -146px;
    left: -60px;
}

.review-image {
    opacity: 0.5;
}

.img-1 {
    position: absolute;
    left: 164px;
    top: 188px;
    width: 70px;
    height: 70px;
}

.img-2 {
    position: absolute;
    left: 0;
    top: 66px;
}

.img-3 {
    position: absolute;
    left: 70px;
    top: 174px;
}

.img-4 {
    position: absolute;
    left: 152px;
    top: 72px;
}

.img-5 {
    position: absolute;
    right: 194px;
    top: 56px;
}

.img-6 {
    position: absolute;
    right: 160px;
    top: 240px;
}

.img-7 {
    position: absolute;
    right: 106px;
    top: 122px;
}

.img-8 {
    position: absolute;
    right: 0px;
    top: 66px;
}

.reviews-logo {
    font-size: 36px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}

.reviews-content {
    width: 540px;
    margin: 58px auto 0;
}

.reviews-content-items {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-size {
    width: 50px;
    height: 50px;
}

/*.review-content-items-image {
    width: 50px;
    height: 50px;
}*/

/*.review-content-items-image img {
    width: 100%;
    height: 100%;
}*/

.reviews-content-items-name {
    margin-left: 12px;
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(254, 184, 37);
}

.reviews-content-text {
    font-size: 18px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}

.reviews-collection-slider {
    margin: 46px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-prev:hover {
    cursor: pointer;
}

.review-next:hover {
    cursor: pointer;
}

.reviews_slider {
    margin: 0 20px;
    width: 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review_slide {
    background: white;
    border-width: 1px;
    border-color: rgb(215, 215, 215);
    border-style: solid;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

.active-photo {
    opacity: 1;
    border: 1px solid #a17e28;
    border-radius: 50%;
}

.main-image-reviews-open {
    display: none;
}

.active {
    background-color: rgb(254, 184, 37);
    /*border-width: 1px;
    border-color: rgb(254, 184, 37);
    border-style: solid;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;*/
    width: 10px;
    height: 10px;
    position: relative;
    border: 0;
}

.active::before {
    content: url("./images/effect-ellipse.png");
    /*background-image: url("./images/effect-ellipse.png");*/
    position: absolute;
    top: -5px;
    right: -6px;
}



/*order*/

#order {
    padding-top: 120px;
}

.order-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1110px;
    position: relative;
}

.order-logo {
    font-size: 36px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.order-form {
    margin-top: 56px;
    width: 394px;
    border-radius: 6px;
    background-image: -moz-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -webkit-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -ms-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
}

.order-map {
    margin-top: 56px;
    width: 730px;
    height: 400px;
}

.order-map a {
    width: 730px;
    height: 400px;
}

.order-content {
    box-sizing: border-box;
    padding: 38px 40px;
}

.order-form-date {
    margin-bottom: 23px;
}

.order-content-logo {
    margin-bottom: 12px;
    font-size: 24px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(254, 184, 37);
    text-align: center;
}

.order-content-text {
    font-size: 18px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 28px;
}

#name, #phone {
    background-color: rgb(255, 255, 255);
    width: 318px;
    border-radius: 25px;
    font-size: 14px;
    font-family: "DINpro", sans-serif;
    border: 0;
    padding: 20px 0 20px 36px;
    margin: 7px 0;
    box-sizing: border-box;
    outline: none;
}

#button {
    cursor: pointer;
    border-radius: 30px;
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(16, 40, 68);
    background-color: rgb(254, 184, 37);
    width: 318px;
    outline: none;
    border: 0;
    padding: 18px 0;
    margin: 7px 0;
}

::placeholder {
    color: rgb(16, 40, 68);
}

.agree {
    font-size: 12px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-align: center;
}

.agree span {
    text-decoration: underline;
}

.error-input {
    display: none;
    font-size: 14px;
    font-family: "DINpro", sans-serif;
    color: red;
}






/*gratitude*/

#gratitude-position {
    position: absolute;
    top: 56px;
    left: 0;
}

#gratitude {
    display: none;
    height: 290px;
    width: 394px;
    position: relative;
    border-radius: 6px;
    background-image: -moz-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -webkit-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -ms-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
}

#gratitude-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.gratitude-content {
    padding: 40px 46px;
}

.gratitude-content-logo {
    font-size: 24px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(254, 184, 37);
    text-align: center;
    margin-bottom: 12px;
}

.gratitude-content-text {
    font-size: 18px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 22px;
}

.gratitude-content-phone {
    margin: 4px 0;
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.gratitude-content-address {
    margin-top: 26px;
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}





/*detailed*/

#reservation-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#reservation {
    border-radius: 6px;
    z-index: 443;
    background-color: transparent;
    box-shadow: 0px 0px 40.67px 8.33px rgba(2, 7, 8, 1);
    height: 280px;
    width: 508px;
    position: relative;
    box-sizing: border-box;
    background-image: -moz-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -webkit-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -ms-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
}

#reservation #reservation-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#reservation-content {
    padding: 51px 46px 44px;
}

.reservation-content-text {
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(254, 184, 37);
    line-height: 1.2;
    text-align: center;
}

.reservation-content-address {
    margin-top: 28px;
    margin-bottom: 17px;
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.reservation-content-tel {
    margin: 7px 0;
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}





/*ticket*/

#ticket-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#ticket {
    position: relative;
    border-radius: 6px;
    background-image: -moz-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -webkit-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -ms-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    z-index: 384;
    box-sizing: border-box;
}

#ticket-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.ticket-content {
    padding: 50px 40px;
}

.ticket-content-text {
    width: 350px;
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(254, 184, 37);
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 40px;
}

.ticket-content-information {
    display: flex;
}

.date {
    margin-right: 12px;
}

.date-logo {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
}

#date {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 0;
    width: 140px;
    height: 34px;
}

#personName {
    margin-top: 16px;
    display: block;
    padding: 6px 0 6px 4px;
    font-size: 14px;
    font-family: "DINpro", sans-serif;
    color: #7f8e9a;
    width: 200px;
    outline: none;
    background: transparent;
    /*border-bottom: 1px solid rgb(255, 255, 255);*/
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255) ;
}

.people-logo {
    margin-bottom: 8px;
    font-size: 18px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
}

.adult-logo {
    font-size: 16px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

.children-logo {
    font-size: 16px;
    font-family: "DINpro", sans-serif;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

.people-quantity {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.adult {
    align-items: center;
    display: flex;
    margin-right: 16px;
}

.children {
    align-items: center;
    display: flex;
}

#numberAdult, #numberChildren {
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    width: 35px;
    height: 35px;
}

#personName::placeholder {
    color: #7f8e9a;
}

#phoneNumber::placeholder {
    color: #7f8e9a;
}

#moreInformation::placeholder {
    color: #7f8e9a;
}

#phoneNumber {
    display: block;
    padding: 6px 0 5px 4px;
    font-size: 14px;
    font-family: "DINpro", sans-serif;
    color: #7f8e9a;
    width: 200px;
    outline: none;
    background: transparent;
    /*border-bottom: 1px solid rgb(255, 255, 255);*/
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255) ;
}

#moreInformation {
    margin-top: 24px;
    padding: 14px 0 0 9px;
    width: 426px;
    height: 100px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background: transparent;
    font-size: 14px;
    font-family: "DINpro", sans-serif;
    color: #5b6d7c;
}

.amount {
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    margin-right: 50px;
}

.ticket-content-footer {
    margin-top: 34px;
    display: flex;
    align-items: center;
}

.amount span {
    margin-left: 12px;
    color: #feb825;
}

.ticket-button button {
    cursor: pointer;
    border-radius: 30px;
    font-family: "DINpro Bold", sans-serif;
    background-color: rgb(254, 184, 37);
    width: 180px;
    outline: none;
    border: 0;
    padding: 18px 0;
    font-size: 14px;
    color: rgb(1, 13, 28);
}

.error {
    display: none;
    font-size: 14px;
    font-family: "DINpro", sans-serif;
    color: red;
}

#input-open {
    margin-top: 16px;
    display: none;
    padding: 6px 0 6px 4px;
    font-size: 14px;
    font-family: "DINpro", sans-serif;
    color: #7f8e9a;
    width: 200px;
    outline: none;
    background: transparent;
    /*border-bottom: 1px solid rgb(255, 255, 255);*/
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255) ;
}

#input-open::placeholder {
    color: #7f8e9a;
}




/*ticket-gratitude*/

#ticket-gratitude-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#ticket-gratitude {
    display: none;
    border-radius: 6px;
    z-index: 443;
    background-color: transparent;
    box-shadow: 0px 0px 40.67px 8.33px rgba(2, 7, 8, 1);
    width: 508px;
    position: relative;
    box-sizing: border-box;
    background-image: -moz-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -webkit-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
    background-image: -ms-linear-gradient( -46deg, rgb(10,64,88) 1%, rgb(2,25,52) 100%);
}

#ticket-gratitude #ticket-gratitude-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#ticket-gratitude-content {
    padding: 51px 46px 44px;
}

.ticket-gratitude-content-logo {
    font-family: 'DINpro Bold', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #feb825;
    margin-bottom: 18px;
}

.ticket-gratitude-content-text {
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 19px;
}

.ticket-gratitude-content-address {
    margin-top: 30px;
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.ticket-gratitude-content-tel {
    margin: 7px 0;
    font-size: 18px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.text-open {
    display: none;
}





/*footer*/

#footer {
    padding-top: 180px;
    padding-bottom: 82px;
}

.footer-circle {
    position: absolute;
    display: none;
}

.footer-arrow {
    position: absolute;
    display: none;
}

.footer-container {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

.footer-image:hover img {
    color: #feb825;
}

.footer-image {
    text-align: center;
}

.footer-image:hover {
    cursor: pointer;
}

.footer-image span {
    display: block;
    font-size: 14px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 5px;
}

.footer-item-logo {
    font-size: 14px;
    font-family: 'DINpro Bold', sans-serif;
    margin-bottom: 17px;
    color: #feb825;
}

.footer-item-text {
    margin: 7px 0;
    font-family: 'DINpro', sans-serif;
    font-size: 14px;
    color: #fefefe;
}

.footer-item-phone, .footer-item-address {
    font-family: 'DINpro Bold', sans-serif;
    font-size: 14px;
    color: #fefefe;
}

.footer-item-phone:first-child {
    margin-bottom: 18px;
}

.footer-item-address {
    margin-top: 26px;
    width: 116px;
}

.footer-item-address span {
    display: block;
}

.footer-button button {
    background: transparent;
    width: 165px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    font-family: "DINpro Bold", sans-serif;
    color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgb(254, 184, 37);
    border-style: solid;
    border-radius: 25px;
}

.footer-button button:hover {
    cursor: pointer;
    border-width: 1px;
    border-color: rgb(117, 118, 69);
    border-style: solid;
    box-shadow: 0px 0px 21px 0px rgba(0, 14, 33, 0.33);
}

.click-top {
    cursor: pointer;
}

